<!DOCTYPE html>
<html>
  <head>
    <title>English</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <li>
      <%= link_to new_topic_path do %>
      <%= image_tag 'icons/camera.png' %>
      <% end %>
    </li>

    <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
